<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div>
  <h3 style="color:forestgreen; font-size:30px">Outstanding Projects</h3>
</div>
<%= image_tag("bosque.jpg", alt: "forests") %>
<%= image_tag("nieve.jpg", alt: "snow") %>
</body>
</html>