<div style="width:100; height:100; background-color:lightpink; padding-top: 0px">
	  <h1 style="font-size:50px; text-align:left">Editing Category</h1>
</div>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
