<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thought you might wanted to know, <%= @user.name %></h1>
  There has been great achievments in Coninna Crowdfunding lately!
  <% @projects.each do |project| %>
    <h3>The project <%= project.title %></h3>
    <p>made $<%= project.actual_money %>, and still has <%= project.days_to_go %> days to go!</p>
  <% end %>
<!--<p>-->
<!--  To login to the site, just follow this link: <%#= @url %>.-->
<!--</p>-->
<p>Thanks for all your help and support and have a great day!</p>
</body>
</html>
