<p id="notice"><%= notice %></p>
<div style="width:100; height:100; background-color:lightpink; padding-top: 0px">
  <h1 style="font-size:50px; text-align:left">Funded Projects</h1>
</div>

  <table>
    <thead>
      <tr>
        <th>State</th>
	<th colspan="4"></th>
        
        <th>Project</th>
	<th colspan="4"></th>
        <th>Amount</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @funds.each do |fund| %>
	<% if fund.user == current_user%>
		<% if fund.state %>
		<tr>
		  <td>Funded!</td>
		
		<th colspan="4"></th>
	      	
	      <td><%= link_to fund.project_id, project_path(fund.project_id) %></td>
		
	    
	 <th colspan="4"></th>
	    <% if fund.promise != nil %>
		   <td><%= fund.promise.amount %></td>
	    <%else%>
	      <td><%= fund.amount %></td>
		  <%end%>
		  
		
		</tr>
	      <% end %>
	      <%end%>
	<%end%>
    </tbody>
  </table>

  <br>
