<p id="notice"><%= notice %></p>

<div style="width:100; height:100; background-color:lightpink; padding-top: 0px">
  <h1 style="font-size:50px; text-align:left">Wishlist</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
   
    </tr>
  </thead>

  <tbody>
   


    <% @wishlists.each do |wishlist| %>
    <% if current_user == wishlist.user  %>
      <tr>
        <td><%= link_to wishlist.project.title, project_path(wishlist.project) %></td>
	<td colspan="3"></td>
	
        
        
        <td><%= link_to 'Destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <%end%>
    <% end %>
  </tbody>
</table>

<br>

